<div class="content-wrapper" id="mainDiv">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Feedback
      <small>Customer Feedback</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Feedback</li>
    </ol>
  </section>


  <section class="content">
    <div class="row">
  <!--<h1>Posts</h1>

  <ul>
    <li *ngFor="let post of post$">
      <a routerLink="">{{post.title}}</a>
      <p>{{post.body}}</p>
    </li>
  </ul>-->
      <ul>
        <li *ngFor="let post of post$">
          <a>{{post.title}}</a>
          <p>{{post.body}}</p>
        </li>
      </ul>

    </div>
  </section>
</div>
