<div class="content-wrapper" id="mainDiv">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      All Grades
      <small>Grades View</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">All Grades</li>
    </ol>
  </section>

  <!--Grades Viewing Contents-->

  <!--Main content Area-->
  <section class="content">

    <!--Grade title Div-->
    <h3>Primary</h3>

    <!--Grade 1-->
    <div class="row">
      <div class="col-lg-1 col-xs-2">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>1</h3>

            <p>Grade 1</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-2 col-xs-4" style="margin-left: 5%">
        <!-- small box -->
        <div class="small-box bg-green-active">
          <div class="inner">
            <h3>12</h3>

            <p>Students</p>
          </div>
          <div class="icon">
            <i class="ion ion-android-people"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-green-active">
          <div class="inner">
            <h3>4</h3>

            <p>Subjects</p>
          </div>
          <div class="icon">
            <i class="ion ion-document-text"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-green-active">
          <div class="inner">
            <h3>10</h3>

            <p>Papers</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-paper-outline"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-green-active">
          <div class="inner">
            <h3>6</h3>

            <p>Activities</p>
          </div>
          <div class="icon">
            <i class="ion ion-clipboard"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-green-active">
          <div class="inner">
            <h3>8</h3>

            <p>Lessons</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
        </div>
      </div>
    </div>

    <!--Second Group-->

    <div class="row">
      <div class="col-lg-1 col-xs-2">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>2</h3>

            <p>Grade 2</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-2 col-xs-4" style="margin-left: 5%">
        <!-- small box -->
        <div class="small-box bg-green-active">
          <div class="inner">
            <h3>9</h3>

            <p>Students</p>
          </div>
          <div class="icon">
            <i class="ion ion-android-people"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-green-active">
          <div class="inner">
            <h3>4</h3>

            <p>Subjects</p>
          </div>
          <div class="icon">
            <i class="ion ion-document-text"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-green-active">
          <div class="inner">
            <h3>10</h3>

            <p>Papers</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-paper-outline"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-green-active">
          <div class="inner">
            <h3>6</h3>

            <p>Activities</p>
          </div>
          <div class="icon">
            <i class="ion ion-clipboard"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-green-active">
          <div class="inner">
            <h3>8</h3>

            <p>Lessons</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
        </div>
      </div>
    </div>

    <!--Third Group-->

    <div class="row">
      <div class="col-lg-1 col-xs-2">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>3</h3>

            <p>Grade 3</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-2 col-xs-4" style="margin-left: 5%">
        <!-- small box -->
        <div class="small-box bg-green-active">
          <div class="inner">
            <h3>10</h3>

            <p>Students</p>
          </div>
          <div class="icon">
            <i class="ion ion-android-people"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-green-active">
          <div class="inner">
            <h3>4</h3>

            <p>Subjects</p>
          </div>
          <div class="icon">
            <i class="ion ion-document-text"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-green-active">
          <div class="inner">
            <h3>10</h3>

            <p>Papers</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-paper-outline"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-green-active">
          <div class="inner">
            <h3>6</h3>

            <p>Activities</p>
          </div>
          <div class="icon">
            <i class="ion ion-clipboard"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-green-active">
          <div class="inner">
            <h3>8</h3>

            <p>Lessons</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
        </div>
      </div>
    </div>

    <!--Fourth Group-->
    <div class="row">
      <div class="col-lg-1 col-xs-2">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>4</h3>

            <p>Grade 4</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-2 col-xs-4" style="margin-left: 5%">
        <!-- small box -->
        <div class="small-box bg-green-active">
          <div class="inner">
            <h3>12</h3>

            <p>Students</p>
          </div>
          <div class="icon">
            <i class="ion ion-android-people"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-green-active">
          <div class="inner">
            <h3>4</h3>

            <p>Subjects</p>
          </div>
          <div class="icon">
            <i class="ion ion-document-text"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-green-active">
          <div class="inner">
            <h3>10</h3>

            <p>Papers</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-paper-outline"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-green-active">
          <div class="inner">
            <h3>6</h3>

            <p>Activities</p>
          </div>
          <div class="icon">
            <i class="ion ion-clipboard"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-green-active">
          <div class="inner">
            <h3>8</h3>

            <p>Lessons</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
        </div>
      </div>
    </div>

    <!--Fifth Group-->

    <div class="row" id="grade5">
      <div class="col-lg-1 col-xs-2">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>5</h3>

            <p>Grade 5</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-2 col-xs-4" style="margin-left: 5%">
        <!-- small box -->
        <div class="small-box bg-green-active">
          <div class="inner">
            <h3>21</h3>

            <p>Students</p>
          </div>
          <div class="icon">
            <i class="ion ion-android-people"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-green-active">
          <div class="inner">
            <h3>5</h3>

            <p>Subjects</p>
          </div>
          <div class="icon">
            <i class="ion ion-document-text"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-green-active">
          <div class="inner">
            <h3>15</h3>

            <p>Papers</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-paper-outline"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-green-active">
          <div class="inner">
            <h3>0</h3>

            <p>Activities</p>
          </div>
          <div class="icon">
            <i class="ion ion-clipboard"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-green-active">
          <div class="inner">
            <h3>18</h3>

            <p>Lessons</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
        </div>
      </div>
    </div>

    <h3>Secondary</h3>

    <!--6th Group-->

    <div class="row">
      <div class="col-lg-1 col-xs-2">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>6</h3>

            <p>Grade 6</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-2 col-xs-4" style="margin-left: 5%">
        <!-- small box -->
        <div class="small-box bg-yellow-active">
          <div class="inner">
            <h3>21</h3>

            <p>Students</p>
          </div>
          <div class="icon">
            <i class="ion ion-android-people"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-yellow-active">
          <div class="inner">
            <h3>5</h3>

            <p>Subjects</p>
          </div>
          <div class="icon">
            <i class="ion ion-document-text"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-yellow-active">
          <div class="inner">
            <h3>15</h3>

            <p>Papers</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-paper-outline"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-yellow-active">
          <div class="inner">
            <h3>0</h3>

            <p>Activities</p>
          </div>
          <div class="icon">
            <i class="ion ion-clipboard"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-yellow-active">
          <div class="inner">
            <h3>18</h3>

            <p>Lessons</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
        </div>
      </div>
    </div>

    <!--7th Group-->

    <div class="row">
      <div class="col-lg-1 col-xs-2">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>7</h3>

            <p>Grade 7</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-2 col-xs-4" style="margin-left: 5%">
        <!-- small box -->
        <div class="small-box bg-yellow-active">
          <div class="inner">
            <h3>21</h3>

            <p>Students</p>
          </div>
          <div class="icon">
            <i class="ion ion-android-people"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-yellow-active">
          <div class="inner">
            <h3>18</h3>

            <p>Subjects</p>
          </div>
          <div class="icon">
            <i class="ion ion-document-text"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-yellow-active">
          <div class="inner">
            <h3>55</h3>

            <p>Papers</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-paper-outline"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-yellow-active">
          <div class="inner">
            <h3>0</h3>

            <p>Activities</p>
          </div>
          <div class="icon">
            <i class="ion ion-clipboard"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-yellow-active">
          <div class="inner">
            <h3>120</h3>

            <p>Lessons</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
        </div>
      </div>
    </div>

    <!--8th Group-->

    <div class="row">
      <div class="col-lg-1 col-xs-2">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>6</h3>

            <p>Grade 6</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-2 col-xs-4" style="margin-left: 5%">
        <!-- small box -->
        <div class="small-box bg-yellow-active">
          <div class="inner">
            <h3>21</h3>

            <p>Students</p>
          </div>
          <div class="icon">
            <i class="ion ion-android-people"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-yellow-active">
          <div class="inner">
            <h3>5</h3>

            <p>Subjects</p>
          </div>
          <div class="icon">
            <i class="ion ion-document-text"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-yellow-active">
          <div class="inner">
            <h3>15</h3>

            <p>Papers</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-paper-outline"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-yellow-active">
          <div class="inner">
            <h3>0</h3>

            <p>Activities</p>
          </div>
          <div class="icon">
            <i class="ion ion-clipboard"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-yellow-active">
          <div class="inner">
            <h3>18</h3>

            <p>Lessons</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
        </div>
      </div>
    </div>

    <!--9th Group-->
    <div class="row">
      <div class="col-lg-1 col-xs-2">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>6</h3>

            <p>Grade 6</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-2 col-xs-4" style="margin-left: 5%">
        <!-- small box -->
        <div class="small-box bg-yellow-active">
          <div class="inner">
            <h3>21</h3>

            <p>Students</p>
          </div>
          <div class="icon">
            <i class="ion ion-android-people"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-yellow-active">
          <div class="inner">
            <h3>5</h3>

            <p>Subjects</p>
          </div>
          <div class="icon">
            <i class="ion ion-document-text"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-yellow-active">
          <div class="inner">
            <h3>15</h3>

            <p>Papers</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-paper-outline"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-yellow-active">
          <div class="inner">
            <h3>0</h3>

            <p>Activities</p>
          </div>
          <div class="icon">
            <i class="ion ion-clipboard"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-yellow-active">
          <div class="inner">
            <h3>18</h3>

            <p>Lessons</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
        </div>
      </div>
    </div>

    <!--10th Group-->
    <div class="row">
      <div class="col-lg-1 col-xs-2">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>6</h3>

            <p>Grade 6</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-2 col-xs-4" style="margin-left: 5%">
        <!-- small box -->
        <div class="small-box bg-yellow-active">
          <div class="inner">
            <h3>21</h3>

            <p>Students</p>
          </div>
          <div class="icon">
            <i class="ion ion-android-people"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-yellow-active">
          <div class="inner">
            <h3>5</h3>

            <p>Subjects</p>
          </div>
          <div class="icon">
            <i class="ion ion-document-text"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-yellow-active">
          <div class="inner">
            <h3>15</h3>

            <p>Papers</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-paper-outline"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-yellow-active">
          <div class="inner">
            <h3>0</h3>

            <p>Activities</p>
          </div>
          <div class="icon">
            <i class="ion ion-clipboard"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-yellow-active">
          <div class="inner">
            <h3>18</h3>

            <p>Lessons</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
        </div>
      </div>
    </div>

    <!--11th Group-->

    <div class="row">
      <div class="col-lg-1 col-xs-2">
        <!-- small box -->
        <div class="small-box bg-blue">
          <div class="inner">
            <h3>6</h3>

            <p>Grade 6</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-2 col-xs-4" style="margin-left: 5%">
        <!-- small box -->
        <div class="small-box bg-blue-active">
          <div class="inner">
            <h3>21</h3>

            <p>Students</p>
          </div>
          <div class="icon">
            <i class="ion ion-android-people"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-blue-active">
          <div class="inner">
            <h3>5</h3>

            <p>Subjects</p>
          </div>
          <div class="icon">
            <i class="ion ion-document-text"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-blue-active">
          <div class="inner">
            <h3>15</h3>

            <p>Papers</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-paper-outline"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-blue-active">
          <div class="inner">
            <h3>0</h3>

            <p>Activities</p>
          </div>
          <div class="icon">
            <i class="ion ion-clipboard"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-blue-active">
          <div class="inner">
            <h3>18</h3>

            <p>Lessons</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <h3>Advanced Level</h3>

    <!--section 12-->

    <div class="row">
      <div class="col-lg-1 col-xs-2">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h3>6</h3>

            <p>Grade 6</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-2 col-xs-4" style="margin-left: 5%">
        <!-- small box -->
        <div class="small-box bg-red-active">
          <div class="inner">
            <h3>21</h3>

            <p>Students</p>
          </div>
          <div class="icon">
            <i class="ion ion-android-people"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-red-active">
          <div class="inner">
            <h3>5</h3>

            <p>Subjects</p>
          </div>
          <div class="icon">
            <i class="ion ion-document-text"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-red-active">
          <div class="inner">
            <h3>15</h3>

            <p>Papers</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-paper-outline"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-red-active">
          <div class="inner">
            <h3>0</h3>

            <p>Activities</p>
          </div>
          <div class="icon">
            <i class="ion ion-clipboard"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-red-active">
          <div class="inner">
            <h3>18</h3>

            <p>Lessons</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
