<div class="content-wrapper" id="mainDiv">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>680</h3>

            <p>Total Lessons</p>
          </div>
          <div class="icon">
            <i class="ion ion-clipboard"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>53</h3>

            <p>New Lessons</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>44</h3>

            <p>User Registrations</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h3>65</h3>

            <p>Unique Visitors</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <section class="col-lg-7 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="nav-tabs-custom">
          <!-- Tabs within a box -->
          <ul class="nav nav-tabs pull-right">
            <li class="pull-left header"><i class="fa fa-inbox"></i>Lessons Overview</li>
          </ul>
          <div class="tab-content no-padding">
            <!-- Morris chart - Sales -->
            <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 550px;">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">Grade</th>
                  <th scope="col">Documents</th>
                  <th scope="col">Videos</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">Grade 1</th>
                  <td>Lessons, Term Test Papers, Drawing papers</td>
                  <td>----</td>
                </tr>
                <tr>
                  <th scope="row">Grade 2</th>
                  <td>Lessons, Term Test Papers</td>
                  <td>----</td>
                </tr>
                <tr>
                  <th scope="row">Grade 3</th>
                  <td>Lessons, Term Test Papers</td>
                  <td>----</td>
                </tr>
                <tr>
                  <th scope="row">Grade 4</th>
                  <td>Term Test Papers, Model Papers, Lessons</td>
                  <td>Subject related Videos</td>
                </tr>
                <tr>
                  <th scope="row">Grade 5</th>
                  <td>Term Test Papers, Model Papers, Scholarship Past Papers, Lessons</td>
                  <td>Subject Related Videos</td>
                </tr>
                <tr>
                  <th scope="row">Grade 6</th>
                  <td>Term Test Papers, Lessons</td>
                  <td>----</td>
                </tr>
                <tr>
                  <th scope="row">Grade 7</th>
                  <td>Term Test Papers, Lessons</td>
                  <td>----</td>
                </tr>
                <tr>
                  <th scope="row">Grade 8</th>
                  <td>Term Test Papers, Lessons</td>
                  <td>----</td>
                </tr>
                <tr>
                  <th scope="row">Grade 9</th>
                  <td>Term Test Papers, Lessons</td>
                  <td>Subject Related Videos</td>
                </tr>
                <tr>
                  <th scope="row">Grade 10</th>
                  <td>Term Test Papers, Lessons, O/L past Papers, Science Practicals</td>
                  <td>Subject Related Videos</td>
                </tr>
                <tr>
                  <th scope="row">Grade 11</th>
                  <td>Term Test Papers, Lessons, O/L Past Papers, Science Practicals</td>
                  <td>Subject Related Videos</td>
                </tr>
                <tr>
                  <th scope="row">Grade 12</th>
                  <td>Term Test Papers, Lessons, A/L Past Papers, Science Practicals</td>
                  <td>Subject Related Videos</td>
                </tr>
                <tr>
                  <th scope="row">Grade 13</th>
                  <td>Advanced Level</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;"></div>
          </div>
        </div>
        <!-- /.nav-tabs-custom -->

        <!-- Chat box -->
        <div class="box box-success">
          <div class="box-header">
            <i class="fa fa-address-book"></i>

            <h3 class="box-title">Lecture Panel</h3>

          </div>
          <div class="box-body chat" id="chat-box">

            <div class="item col-md-3">
              <h4 style="text-align: center">Primary</h4>
              <hr>
              <ul>
                <li>
                  Mr.Sameera Silva
                </li>
                <li>
                  Mr.Kalana Mihiranga
                </li>
                <li>
                  Mr.Sameera Silva
                </li>
                <li>
                  Mrs.Dilsha Damayanthi
                </li>
                <li>
                  Mrs.Chamari Sewwandi
                </li>
                <li>
                  Mr.Kushan Prabath
                </li>
                <li>
                  Mr.Suneth Sankalpa
                </li>
              </ul>
            </div>

            <div class="item col-md-3">
              <h4 style="text-align: center">Secondary</h4>
              <hr>
              <li>
                Mr.Kelum Perera
              </li>
              <li>
                Mrs.Deepika subashini
              </li>
              <li>
                Mr.Denuwan silva
              </li>
              <li>
                Mr.Sandun Perera
              </li>
              <li>
                Mrs.Shashika dilshani
              </li>
              <li>
                Mrs.A.K.Malkanthi
              </li>
              <li>
                Mrs.Chamari Athapattu
              </li>
              <li>
                Mr.Sudeera Supun
              </li>
              <li>
                Mr.Supun Dilshan
              </li>
              <li>
                Mr.Suneth Sankalpa
              </li>
            </div>

            <div class="item col-md-3">
              <h4 style="text-align: center">Advanced Level</h4>
              <hr>
              <li>
                Mr.Kasun Subashana
              </li>
              <li>
                Mr.Kelum Kumara
              </li>
              <li>
                Mr.Sumedha Udawaththa
              </li>
              <li>
                Mr.Dilan Kulandarachchi
              </li>
              <li>
                Mr.Sanjeewa Subashana
              </li>
              <li>
                Mr.Jehan Perera
              </li>
              <li>
                Mr.Tehan Anuththara
              </li>
            </div>

            <div class="item col-md-3">
              <h4 style="text-align: center">Special Education & Piriven</h4>
              <hr>
              <h4>Piriven</h4>
              <ul>
                <li>Rev.Seelarathana</li>
                <li>Rev.Dhammarakkitha</li>
                <li>Rev.Sumedha</li>
              </ul>
              <h4>Special Education</h4>
              <ul>
                <li>
                  Mrs.Sujatha Siriwardhana
                </li>
                <li>
                  Mrs.Heshani Silva
                </li>
              </ul>
            </div>
            <!-- /.item -->
          </div>
          <!-- /.chat -->
        </div>
      </section>
      <!-- /.Left col -->
      <!-- right col (We are only adding the ID to make the widgets sortable)-->
      <section class="col-lg-5 connectedSortable">

        <!-- Map box -->
        <div class="box box-solid bg-light-blue-gradient">
          <div class="box-header">
            <!-- tools box -->
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip"
                      title="Date range">
                <i class="fa fa-calendar"></i></button>
              <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse"
                      data-toggle="tooltip" title="Collapse" style="margin-right: 5px;">
                <i class="fa fa-minus"></i></button>
            </div>
            <!-- /. tools -->

            <i class="fa fa-map-marker"></i>

            <h3 class="box-title">
              Visitors
            </h3>
          </div>
          <div class="box-body">
            <div id="world-map" style="height: 250px; width: 100%;">

            </div>
          </div>
        </div>

        <!-- /.box -->

        <!-- solid sales graph -->
        <div class="box box-primary">
          <div class="box-header">
            <i class="ion ion-clipboard"></i>

            <h3 class="box-title">Special Tasks</h3>

          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
            <ul class="todo-list">
              <li>
                <span class="text"><a routerLink="/grades">Grades Checkout</a></span>
              </li>
              <li>
                <span class="text"><a routerLink="/lecturers">View All Joined Lecturers</a></span>
              </li>
              <li>
                <span class="text"><a routerLink="/activities">New Activities Assigned for Primary Students</a></span>
              </li>
              <li>
                <span class="text"><a routerLink="/extras">New Songs and Documents</a></span>
              </li>
              <li>
                <span class="text"><a routerLink="/papers">New Model Papers</a></span>
              </li>
              <li>
                <span class="text"><a routerLink="/lessons">Lesson Checkout</a></span>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>

  </section>
</div>
