/*
!* You can add global styles to this file, and also import other style files *!
@import url(/node_modules/admin-lte/bower_components/bootstrap/dist/css/bootstrap.min.css);
@import url(/node_modules/admin-lte/bower_components/font-awesome/css/font-awesome.min.css);
@import url(/node_modules/admin-lte/bower_components/Ionicons/css/ionicons.min.css);
@import url(/node_modules/admin-lte/bower_components/jvectormap/jquery-jvectormap.css);
@import url(/node_modules/admin-lte/dist/css/AdminLTE.min.css);
@import url(/node_modules/admin-lte/dist/css/skins/_all-skins.min.css);
*/
div{
  section{
    div{
      ul{
        list-style-type: none;
        margin: 0;
        padding: 0;

        li{
          background: #fff;
          border-radius: 8px;
          padding: 20px;
          margin-bottom: 8px;

          a{
            font-size: 1.5em;
            text-decoration: none;
            font-weight: bold;
            color:#00A8FF;
          }
        }
      }
    }
  }
}

