<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Lessons
      <small>Lesson Management</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Lessons</li>
    </ol>
  </section>

  <!--Lesson Content-->

  <section class="content">
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>150</h3>

            <p>Total Lessons</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>8</h3>

            <p>New Papers</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-paper-outline"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>3</h3>

            <p>Lecturer Registrations</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h3>65</h3>

            <p>New Students</p>
          </div>
          <div class="icon">
            <i class="ion ion-android-people"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
    </div>

    <div class="row">
      <!-- Left col -->
      <section class="col-lg-7 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="nav-tabs-custom">
          <!-- Tabs within a box -->
          <ul class="nav nav-tabs pull-right">
            <li class="pull-left header"><i class="fa fa-file"></i>Lessons Overview</li>
          </ul>
          <div class="tab-content no-padding">
            <!-- Morris chart - Sales -->
            <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 550px;">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">Grade</th>
                  <th scope="col">Documents</th>
                  <th scope="col">Videos</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">Grade 1</th>
                  <td>Lessons, Term Test Papers, Drawing papers</td>
                  <td>----</td>
                </tr>
                <tr>
                  <th scope="row">Grade 2</th>
                  <td>Lessons, Term Test Papers</td>
                  <td>----</td>
                </tr>
                <tr>
                  <th scope="row">Grade 3</th>
                  <td>Lessons, Term Test Papers</td>
                  <td>----</td>
                </tr>
                <tr>
                  <th scope="row">Grade 4</th>
                  <td>Term Test Papers, Model Papers, Lessons</td>
                  <td>Subject related Videos</td>
                </tr>
                <tr>
                  <th scope="row">Grade 5</th>
                  <td>Term Test Papers, Model Papers, Scholarship Past Papers, Lessons</td>
                  <td>Subject Related Videos</td>
                </tr>
                <tr>
                  <th scope="row">Grade 6</th>
                  <td>Term Test Papers, Lessons</td>
                  <td>----</td>
                </tr>
                <tr>
                  <th scope="row">Grade 7</th>
                  <td>Term Test Papers, Lessons</td>
                  <td>----</td>
                </tr>
                <tr>
                  <th scope="row">Grade 8</th>
                  <td>Term Test Papers, Lessons</td>
                  <td>----</td>
                </tr>
                <tr>
                  <th scope="row">Grade 9</th>
                  <td>Term Test Papers, Lessons</td>
                  <td>Subject Related Videos</td>
                </tr>
                <tr>
                  <th scope="row">Grade 10</th>
                  <td>Term Test Papers, Lessons, O/L past Papers, Science Practicals</td>
                  <td>Subject Related Videos</td>
                </tr>
                <tr>
                  <th scope="row">Grade 11</th>
                  <td>Term Test Papers, Lessons, O/L Past Papers, Science Practicals</td>
                  <td>Subject Related Videos</td>
                </tr>
                <tr>
                  <th scope="row">Grade 12</th>
                  <td>Term Test Papers, Lessons, A/L Past Papers, Science Practicals</td>
                  <td>Subject Related Videos</td>
                </tr>
                <tr>
                  <th scope="row">Grade 13</th>
                  <td>Advanced Level</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;"></div>
          </div>
        </div>
        <!-- /.nav-tabs-custom -->

        <!-- Chat box -->

  </section>
      <section class="col-lg-5 connectedSortable">

        <!-- Map box -->
        <div class="box box-solid bg-light-blue-gradient" style="height: 61vh;">
          <div class="box-header">
            <!-- tools box -->

            <!-- /. tools -->

            <i class="fa fa-file"></i>

            <h3 class="box-title">
              New Lesson Documents
            </h3>
          </div>
          <div class="box-body">
            <div class="box box-primary" style="background-color: #9dbed8">
              <div class="box-header with-border">
                <h3 class="box-title">Lessons</h3>
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <form role="form" (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="box-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Lesson Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Short Story" ngModel name="paperName" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Grade</label>
                    <select class="form-control" id="comboGrade" ngModel name="grade" required>
                      <option value="Grade 1">Grade 1</option>
                      <option value="Grade 2">Grade 2</option>
                      <option value="Grade 3">Grade 3</option>
                      <option value="Grade 4">Grade 4</option>
                      <option value="Grade 5">Grade 5</option>
                      <option value="Grade 6">Grade 6</option>
                      <option value="Grade 7">Grade 7</option>
                      <option value="Grade 8">Grade 8</option>
                      <option value="Grade 9">Grade 9</option>
                      <option value="Grade 10">Grade 10</option>
                      <option value="Grade 11">Grade 11</option>
                      <option value="Grade 12">Grade 12</option>
                      <option value="Grade 13">Grade 13</option>
                      <option value="Piriven">Piriven</option>
                      <option value="Special Education">Special Education</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Subject</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="English" ngModel name="subject" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" id="exampleInputFile">


                  </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer" style="background-color: #9dbed8">
                  <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
                </div>
              </form>
            </div>
          </div>
          <!-- /.box-body-->

        </div>
      </section>
</div>


    <div class="box box-primary">
      <div class="box-header ui-sortable-handle" style="cursor: move;">
        <i class="ion ion-clipboard"></i>

        <h3 class="box-title">Lessons</h3>
      </div>


      <div class="col-md-12" style="padding-top: 20px">

        <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
        <h3>Grade 1</h3>
        <ul class="todo-list ui-sortable">
          <li>
            <span class="text">Sinhala 1st Term Test Model Paper</span>
            <div class="tools">
              <i class="fa fa-edit"></i>
              <i class="fa fa-trash-o"></i>
            </div>
          </li>
          <li>
            <span class="text">Sinhala 2nd Term Test Model Paper</span>
            <div class="tools">
              <i class="fa fa-edit"></i>
              <i class="fa fa-trash-o"></i>
            </div>
          </li>
          <li>
            <span class="text">Sinhala 3rd Term Test Model Paper</span>
            <div class="tools">
              <i class="fa fa-edit"></i>
              <i class="fa fa-trash-o"></i>
            </div>
          </li>
          <li>
            <span class="text">English 1st Term Test Model Paper</span>
            <div class="tools">
              <i class="fa fa-edit"></i>
              <i class="fa fa-trash-o"></i>
            </div>
          </li>
          <li>
            <span class="text">English 2nd Term Test Model Paper</span>
            <div class="tools">
              <i class="fa fa-edit"></i>
              <i class="fa fa-trash-o"></i>
            </div>
          </li>
          <li>
            <span class="text">English 3rd Term Test Model Paper</span>
            <div class="tools">
              <i class="fa fa-edit"></i>
              <i class="fa fa-trash-o"></i>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </section>
</div>
