<div class="content-wrapper" id="mainDiv">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Grades
      <small>Grades Management</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Grades</li>
    </ol>
  </section>

  <!--Grades Contents-->

  <section class="content">
    <div class="row">
      <div class="col-lg-1 col-xs-2">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>1</h3>

            <p>Grade 1</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
          <a routerLink="/gradesView" href="#grade5" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-1 col-xs-2">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>2</h3>

            <p>Grade 2</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
          <a routerLink="/gradesView" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-1 col-xs-2">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>3</h3>

            <p>Grade 3</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
          <a routerLink="/gradesView" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-1 col-xs-2">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>4</h3>

            <p>Grade 4</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
          <a routerLink="/gradesView" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-1 col-xs-2">
        <!-- small box -->
        <div class="small-box bg-orange-active">
          <div class="inner">
            <h3>5</h3>

            <p>Grade 5</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
          <a routerLink="/gradesView" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-1 col-xs-2">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>6</h3>

            <p>Grade 6</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
          <a routerLink="/gradesView" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-1 col-xs-2">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>7</h3>

            <p>Grade 7</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
          <a routerLink="/gradesView" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-1 col-xs-2">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>8</h3>

            <p>Grade 8</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
          <a routerLink="/gradesView" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-1 col-xs-2">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>9</h3>

            <p>Grade 9</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
          <a routerLink="/gradesView" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-1 col-xs-2">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>10</h3>

            <p>Grade 10</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
          <a routerLink="/gradesView" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-1 col-xs-2">
        <!-- small box -->
        <div class="small-box bg-blue-active">
          <div class="inner">
            <h3>11</h3>

            <p>Grade 11</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
          <a routerLink="/gradesView" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-1 col-xs-2">
        <!-- small box -->
        <div class="small-box bg-red-active">
          <div class="inner">
            <h3>12/13</h3>

            <p>A/L</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-book"></i>
          </div>
          <a routerLink="/gradesView" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
    </div>

    <!--Grade Info Section-->
    <div class="row">
      <!-- Left col -->
      <section id="gradeView" class="col-lg-7 connectedSortable">
        <div class="box box-success">
          <div class="box-header">
            <i class="fa fa-level-up"></i>

            <h1 class="box-title">Grade Content</h1>

            <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
              <div class="btn-group" data-toggle="btn-toggle">

              </div>
            </div>
          </div>
          <div class="box-body chat" id="chat-box">

            <div class="col-md-4">
              <!--=========================================================-->
              <h3>
                Grade 1
              </h3>

              <ul>
                <li>Lessons</li>
                <li>Activities</li>
                <li>Papers</li>
                <li>Physical Activities</li>
                <li>Extras(Songs, Videos)</li>
              </ul>
              <hr>
              <!--=========================================================-->
              <h3>
                Grade 2
              </h3>

              <ul>
                <li>Lessons</li>
                <li>Activities</li>
                <li>Papers</li>
                <li>Physical Activities</li>
                <li>Extras(Songs, Videos)</li>
              </ul>
              <hr>
              <!--=========================================================-->
              <h3>
                Grade 3
              </h3>

              <ul>
                <li>Lessons</li>
                <li>Activities</li>
                <li>Papers</li>
                <li>Physical Activities</li>
                <li>Extras(Songs, Videos)</li>
              </ul>
              <hr>
              <!--=========================================================-->
              <h3>
                Grade 4
              </h3>

              <ul>
                <li>Lessons</li>
                <li>Activities</li>
                <li>Papers</li>
                <li>Extras(Songs, Videos)</li>
              </ul>
              <hr>
              <!--=========================================================-->
              <h3>
                Grade 5
              </h3>

              <ul>
                <li>Lessons</li>
                <li>Papers</li>
                <li>Extras(Songs, Videos)</li>
              </ul>
              <hr>
              <!--=========================================================-->
            </div>
            <div class="col-md-4">
              <h3>
                Grade 6
              </h3>

              <ul>
                <li>Lessons</li>
                <li>Papers</li>
              </ul>
              <hr>
              <!--=========================================================-->
              <h3>
                Grade 7
              </h3>

              <ul>
                <li>Lessons</li>
                <li>Papers</li>
              </ul>
              <hr>
              <!--=========================================================-->
              <h3>
                Grade 8
              </h3>

              <ul>
                <li>Lessons</li>
                <li>Papers</li>
              </ul>
              <hr>
              <!--=========================================================-->
              <h3>
                Grade 9
              </h3>

              <ul>
                <li>Lessons</li>
                <li>Papers</li>
              </ul>
              <hr>
              <!--=========================================================-->
              <h3>
                Grade 10
              </h3>

              <ul>
                <li>Lessons</li>
                <li>Papers</li>
              </ul>
              <hr>
              <!--=========================================================-->
              <h3>
                Grade 11
              </h3>

              <ul>
                <li>Lessons</li>
                <li>Papers</li>
                <li>Past Papers</li>
              </ul>
              <hr>
              <!--=========================================================-->

            </div>

            <div class="col-md-4">
              <h3>
                Grade 12
              </h3>

              <ul>
                <li>Lessons</li>
                <li>Papers</li>
                <li>Practical Sessions</li>
              </ul>
              <hr>
              <!--=========================================================-->
              <h3>
                Grade 13
              </h3>

              <ul>
                <li>Lessons</li>
                <li>Papers</li>
                <li>Practicel Sessions</li>
                <li>Past Papers</li>
              </ul>
              <hr>
              <!--=========================================================-->
            </div>


          </div>
          <!-- /.chat -->
        </div>
      </section>
      <section class="col-lg-5 connectedSortable">

        <!-- Map box -->
        <div class="box box-solid">
          <div class="box-header">
            <!-- tools box -->

            <!-- /. tools -->

            <i class="fa fa-level-up"></i>

            <h3 class="box-title">
              Introduce New Grades
            </h3>
          </div>
          <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="form-group" style="padding: 10px;text-align: center">

            <label style="font-size: 20px">Grade Description</label>
            <input type="text" class="form-control" id="fnText" placeholder="Type Grade Description Here" ngModel name="description" required>

            <label style="font-size: 20px;padding-top: 10%">Grade Category</label>
            <select class="form-control" id="comboGrade" ngModel name="category" required>
              <option value="Primary">Primary</option>
              <option value="Secondary">Secondary</option>
              <option value="Advanced Level">Advanced Level</option>
              <option value="Piriven">Piriven</option>
              <option value="Special Education">Special Education</option>
            </select>
          </div>

          <div class="box-footer no-border">
            <div class="row">
              <div class="col-xs-6 text-center" style="border-right: 1px solid #f4f4f4">
                <div id="sparkline-1"></div>
                <button type="button" class="btn btn-info" style="width: 100%" href="">Update</button>
              </div>
              <!-- ./col -->
              <div class="col-xs-6 text-center" style="border-right: 1px solid #f4f4f4">
                <div id="sparkline-2"></div>
                <button type="submit" class="btn btn-info" style="background-color: green;width: 100%" [disabled]="!f.valid">Save</button>
              </div>
              <!-- ./col -->
              <!-- ./col -->
            </div>
            <!-- /.row -->
          </div>
          </form>

          <div class="box box-solid bg-light-blue-gradient col-md-5">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Grade</th>
                <th scope="col">Section/ Category</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">Grade 1</th>
                <td>Primary</td>
                <td>
                  <button type="button" class="bg-danger">
                    <i class="fa fa-trash-o"></i>
                  </button>
                  <button type="button" class="bg-light">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">Grade 2</th>
                <td>Primary</td>
                <td>
                  <button type="button" class="bg-danger">
                    <i class="fa fa-trash-o"></i>
                  </button>
                  <button type="button" class="bg-light">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">Grade 3</th>
                <td>Primary</td>
                <td>
                  <button type="button" class="bg-danger">
                    <i class="fa fa-trash-o"></i>
                  </button>
                  <button type="button" class="bg-light">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">Grade 4</th>
                <td>Primary</td>
                <td>
                  <button type="button" class="bg-danger">
                    <i class="fa fa-trash-o"></i>
                  </button>
                  <button type="button" class="bg-light">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">Grade 5</th>
                <td>Primary</td>
                <td>
                  <button type="button" class="bg-danger">
                    <i class="fa fa-trash-o"></i>
                  </button>
                  <button type="button" class="bg-light">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">Grade 6</th>
                <td>Secondary</td>
                <td>
                  <button type="button" class="bg-danger">
                    <i class="fa fa-trash-o"></i>
                  </button>
                  <button type="button" class="bg-light">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">Grade 7</th>
                <td>Secondary</td>
                <td>
                  <button type="button" class="bg-danger">
                    <i class="fa fa-trash-o"></i>
                  </button>
                  <button type="button" class="bg-light">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">Grade 8</th>
                <td>Secondary</td>
                <td>
                  <button type="button" class="bg-danger">
                    <i class="fa fa-trash-o"></i>
                  </button>
                  <button type="button" class="bg-light">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">Grade 9</th>
                <td>Secondary</td>
                <td>
                  <button type="button" class="bg-danger">
                    <i class="fa fa-trash-o"></i>
                  </button>
                  <button type="button" class="bg-light">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">Grade 10</th>
                <td>Secondary</td>
                <td>
                  <button type="button" class="bg-danger">
                    <i class="fa fa-trash-o"></i>
                  </button>
                  <button type="button" class="bg-light">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">Grade 11</th>
                <td>Secondary</td>
                <td>
                  <button type="button" class="bg-danger">
                    <i class="fa fa-trash-o"></i>
                  </button>
                  <button type="button" class="bg-light">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">Grade 12</th>
                <td>Advanced Level</td>
                <td>
                  <button type="button" class="bg-danger">
                    <i class="fa fa-trash-o"></i>
                  </button>
                  <button type="button" class="bg-light">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">Grade 13</th>
                <td>Advanced Level</td>
                <td>
                  <button type="button" class="bg-danger">
                    <i class="fa fa-trash-o"></i>
                  </button>
                  <button type="button" class="bg-light">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>
